@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap')

// Font family
$PatuaOne: 'Patua One', cursive
$Poppins: 'Poppins', sans-serif

// ** Colors
$blue: #00cfe8
$indigo: #6610f2
$purple: #7367f0
$pink: #e83e8c
$red: #ea5455
$orange: #ff9f43
$orange-strong: #F58634
$orange-opacity: #ff9e43b0
$yellow: #ffc107
$green: #28c76f
$teal: #20c997
$cyan: #17a2b8
$white: #fff
$gray: #b8c2cc
$gray-dark: #4b4b4b
$primary: #377dc3
$secondary: #82868b
$success: #28c76f
$info: #00cfe8
$warning: #ff9f43
$danger: #ea5455
$light: #f6f6f6
$light-opacity: #ffffff9b
$light-strong: #f3f3f3
$dark: #1e1e1e
$light-dark: #262626

// ** Breakpoints
$breakpoint-xs: 0
$breakpoint-sm: 576px
$breakpoint-md: 768px
$breakpoint-lg: 992px
$breakpoint-xl: 1200px
$breakpoint-xxl: 1440px
