@import '../../assets/styles/partials/_variables'
@import '../../assets/styles/partials/_breakpoints'

.intro
    background-color: #151515
    display: flex
    align-items: center
    min-height: 100vh

    @include for-max-lg
        flex-direction: column-reverse
        justify-content: center
    @include for-min-lg
        flex-direction: row
        justify-content: space-around

    .burguer-img
        img
            max-width: 450px
            width: 100%
            @include for-max-md
                width: 80%

    .intro-description
        padding: 1.5rem
        display: flex
        flex-direction: column
        align-items: center
        gap: 6px
        div strong
            color: $orange
            text-transform: uppercase
            &:nth-child(1), &:nth-child(2)
                &::after
                    content: '•'
                    color: white
                    padding: 0 3px
        span
            color: $light
            text-transform: uppercase
        button
            border: none
            border-radius: 5px
            background: $orange
            padding: 8px 14px
            margin-top: 3px
            width: auto
            a
                text-decoration: none
                color: $gray-dark
                font-weight: bold
                text-transform: uppercase
                display: block
                width: 100%

