@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: #151515;
  text-transform: uppercase;
}
.header-container .logo-container a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #FF9F46;
}
.header-container .logo-container a img {
  width: 28px;
}
.header-container .logo-container a strong {
  font-size: 18px;
}
.header-container .nav-header .close-menu {
  display: none;
}
.header-container .nav-header ul {
  gap: 1.5rem;
  margin: 0;
  height: 100%;
  display: flex;
}
.header-container .nav-header ul li {
  list-style: none;
}
.header-container .nav-header ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s all;
  display: block;
  width: 100%;
}
@media (min-width: 992px) {
  .header-container .nav-header ul li a:active, .header-container .nav-header ul li a:hover, .header-container .nav-header ul li a:focus {
    color: #ff9f43;
    position: relative;
  }
  .header-container .nav-header ul li a:active::after, .header-container .nav-header ul li a:hover::after, .header-container .nav-header ul li a:focus::after {
    position: absolute;
    left: 0;
    bottom: -3px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ff9f43;
  }
}
@media (max-width: 992px) {
  .header-container .nav-header {
    background-color: #ff9f43;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    transition: 0.5s;
  }
  .header-container .nav-header .close-menu {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    font-size: 35px;
  }
  .header-container .nav-header .close-menu:hover, .header-container .nav-header .close-menu:active {
    color: red;
  }
  .header-container .nav-header ul {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    overflow: hidden;
  }
  .header-container .nav-header ul li {
    height: 5rem;
    line-height: 5rem;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .header-container .nav-header ul li:hover {
    background: rgba(64, 64, 64, 0.1215686275);
  }
  .header-container .nav-header ul li:active a {
    color: #82868b;
  }
  .header-container .nav-header ul li a {
    font-size: 28px;
    color: #1e1e1e;
  }
}
@media (max-width: 576px) {
  .header-container .nav-header {
    width: 100%;
  }
}
.header-container .menu-btn {
  display: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
}
.header-container .menu-btn:hover, .header-container .menu-btn:active {
  color: #ff9f43;
}
@media (max-width: 992px) {
  .header-container .menu-btn {
    display: block;
  }
}
@media (max-width: 992px) {
  .header-container .hideNav {
    right: -100%;
  }
}

.intro {
  background-color: #151515;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
@media (max-width: 992px) {
  .intro {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .intro {
    flex-direction: row;
    justify-content: space-around;
  }
}
.intro .burguer-img img {
  max-width: 450px;
  width: 100%;
}
@media (max-width: 768px) {
  .intro .burguer-img img {
    width: 80%;
  }
}
.intro .intro-description {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.intro .intro-description div strong {
  color: #ff9f43;
  text-transform: uppercase;
}
.intro .intro-description div strong:nth-child(1)::after, .intro .intro-description div strong:nth-child(2)::after {
  content: "•";
  color: white;
  padding: 0 3px;
}
.intro .intro-description span {
  color: #f6f6f6;
  text-transform: uppercase;
}
.intro .intro-description button {
  border: none;
  border-radius: 5px;
  background: #ff9f43;
  padding: 8px 14px;
  margin-top: 3px;
  width: auto;
}
.intro .intro-description button a {
  text-decoration: none;
  color: #1e1e1e;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  width: 100%;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
body header {
  position: fixed;
  top: 0;
  width: 100%;
}