@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: #1e1e1e;
  text-transform: uppercase;
}
.header-container .logo-container a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #FF9F46;
}
.header-container .logo-container a img {
  width: 28px;
}
.header-container .logo-container a strong {
  font-size: 18px;
}
.header-container .nav-header .close-menu {
  display: none;
}
.header-container .nav-header ul {
  gap: 1.5rem;
  margin: 0;
  height: 100%;
  display: flex;
}
.header-container .nav-header ul li {
  list-style: none;
}
.header-container .nav-header ul li a {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s all;
  display: block;
  width: 100%;
}
@media (min-width: 992px) {
  .header-container .nav-header ul li a:active, .header-container .nav-header ul li a:hover, .header-container .nav-header ul li a:focus {
    color: #ff9f43;
    position: relative;
  }
  .header-container .nav-header ul li a:active::after, .header-container .nav-header ul li a:hover::after, .header-container .nav-header ul li a:focus::after {
    position: absolute;
    left: 0;
    bottom: -3px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ff9f43;
  }
}
@media (max-width: 992px) {
  .header-container .nav-header {
    background-color: #ff9f43;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    transition: 0.5s;
  }
  .header-container .nav-header .close-menu {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    font-size: 35px;
  }
  .header-container .nav-header .close-menu:hover, .header-container .nav-header .close-menu:active {
    color: red;
  }
  .header-container .nav-header ul {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    overflow: hidden;
  }
  .header-container .nav-header ul li {
    height: 5rem;
    line-height: 5rem;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .header-container .nav-header ul li:hover {
    background: rgba(64, 64, 64, 0.1215686275);
  }
  .header-container .nav-header ul li:active a {
    color: #82868b;
  }
  .header-container .nav-header ul li a {
    font-size: 28px;
    color: #1e1e1e;
  }
}
@media (max-width: 576px) {
  .header-container .nav-header {
    width: 100%;
  }
}
.header-container .menu-btn {
  display: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
}
.header-container .menu-btn:hover, .header-container .menu-btn:active {
  color: #ff9f43;
}
@media (max-width: 992px) {
  .header-container .menu-btn {
    display: block;
  }
}
@media (max-width: 992px) {
  .header-container .hideNav {
    right: -100%;
  }
}

section.intro {
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
@media (max-width: 992px) {
  section.intro {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  section.intro {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 992px) {
  section.intro .burguer-img {
    min-width: 40%;
  }
}
section.intro .burguer-img img {
  max-width: 450px;
  width: 100%;
}
@media (max-width: 768px) {
  section.intro .burguer-img img {
    width: 80%;
  }
}
section.intro .intro-description {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
@media (min-width: 992px) {
  section.intro .intro-description {
    width: 50%;
  }
}
section.intro .intro-description div strong {
  color: #ff9f43;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  section.intro .intro-description div strong {
    font-size: 20px;
  }
}
section.intro .intro-description div strong:nth-child(1)::after, section.intro .intro-description div strong:nth-child(2)::after {
  content: "•";
  color: white;
  padding: 0 3px;
}
section.intro .intro-description span {
  color: #f6f6f6;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  section.intro .intro-description span {
    font-size: 20px;
  }
}
section.intro .intro-description button {
  border: none;
  border-radius: 5px;
  background: #ff9f43;
  margin-top: 3px;
  width: auto;
  transition: 0.2s;
  padding: 0;
}
section.intro .intro-description button a {
  text-decoration: none;
  color: #1e1e1e;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding: 8px 14px;
}
section.intro .intro-description button:hover {
  transform: scale(0.95);
}

section.burguers {
  background-color: #262626;
  min-height: 100vh;
}
section.burguers .grid-cards {
  display: grid;
  justify-items: center;
  gap: 2rem;
}
@media (min-width: 992px) {
  section.burguers .grid-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 992px) {
  section.burguers .grid-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  section.burguers .grid-cards {
    grid-template-columns: 1fr;
  }
}
section.burguers .grid-cards .burguer-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  border: solid 2px rgba(255, 158, 67, 0.6901960784);
  border-radius: 8px;
  padding: 1.5rem;
}
section.burguers .grid-cards .burguer-card .burg-image {
  max-width: 222px;
  width: 100%;
}
section.burguers .grid-cards .burguer-card .burg-name {
  color: #f6f6f6;
  font-weight: 500;
  font-size: 18px;
}
section.burguers .grid-cards .burguer-card .divider {
  width: 50px;
  height: 2px;
  background-color: rgba(255, 158, 67, 0.6901960784);
}
section.burguers .grid-cards .burguer-card .burg-description {
  color: rgba(255, 255, 255, 0.6078431373);
  font-size: 13px;
  text-align: justify;
}

section.about-us {
  min-height: 100vh;
  background-color: #1e1e1e;
}
section.about-us .store-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
section.about-us .store-image::after, section.about-us .store-image::before {
  content: "★ ★";
  color: #ff9f43;
  display: inline-block;
  white-space: nowrap;
}
@media (min-width: 992px) {
  section.about-us .store-image::after, section.about-us .store-image::before {
    font-size: 35px;
  }
}
@media (max-width: 992px) {
  section.about-us .store-image::after, section.about-us .store-image::before {
    font-size: 24px;
  }
}
section.about-us .store-image::after {
  margin-left: 4%;
}
section.about-us .store-image::before {
  margin-right: 4%;
}
section.about-us .store-image img {
  border-radius: 10px;
  border: solid 3px rgba(255, 158, 67, 0.6901960784);
  max-width: 500px;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 768px) {
  section.about-us .store-image img {
    width: 70%;
  }
}
section.about-us p.store-description {
  color: rgba(255, 255, 255, 0.6078431373);
  text-align: justify;
  padding: 2rem 0;
  font-size: 14px;
}
@media (min-width: 576px) {
  section.about-us p.store-description {
    padding: 2rem 2rem;
    font-size: 15px;
  }
}
section.about-us hr {
  max-width: 8rem;
  opacity: 0.7;
}
section.about-us .store-location h2 {
  color: #f6f6f6;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 2rem;
}
section.about-us .store-location .location {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 2rem;
}
@media (min-width: 992px) {
  section.about-us .store-location .location {
    flex-direction: row;
  }
}
@media (max-width: 992px) {
  section.about-us .store-location .location {
    flex-direction: column;
    align-items: center;
  }
}
section.about-us .store-location .location .iframe iframe {
  border: solid 3px rgba(255, 158, 67, 0.6901960784) !important;
  border-radius: 5px;
}
section.about-us .store-location .address {
  margin-top: 8px;
}
section.about-us .store-location .address span {
  display: flex;
  align-items: center;
  color: #f6f6f6;
  font-size: 14px;
}
section.about-us .store-location .address span svg {
  color: #ff9f43;
  margin-right: 5px;
}
section.about-us .store-location .address .rotas {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 8px;
}
section.about-us .store-location .address .rotas img {
  max-width: 40px;
}
section.about-us .store-location .address .rotas .google-maps {
  width: 28px;
  margin-right: 5px;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
body header {
  position: fixed;
  top: 0;
  width: 100%;
}
body .section {
  padding: 4rem 3rem;
}
body h1.title-section {
  margin: 0 0 3rem;
  color: #f6f6f6;
  text-transform: uppercase;
  font-size: 24px;
  color: #ff9f43;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
body h1.title-section::after, body h1.title-section::before {
  content: "";
  background-color: #f6f6f6;
  width: 15px;
  height: 3px;
  display: inline-block;
}