// Components styles
@use '../../components/Header/_header'
@use '../../components/Inicio/_inicio'
@use '../../components/Burguers/_burguers'
@use '../../components/About/_about'
@use '../../components/Contato/_contato'
@use '../../components/Footer/_footer'

// Variables
@import './partials/_variables'
@import './partials/_breakpoints'
@import './partials/_mixins'
@import './partials/_global'

body
    font-family: $Poppins
    overflow: hidden

    header
        position: fixed
        top: 0
        width: 100%
